@charset "UTF-8";

@font-face{
    font-family: 'Bienchen';
    src: url('../d012/fontes/Bienchen\ a.ttf') format('truetype'), url('../d012/fontes/Bienchen\ b.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    height: 100px;
    padding: 30px 0px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
}

header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: normal;
}

header p{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover{
    color: yellow;
    text-decoration: underline;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 0.1px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
}

main section.paragrafo{
    font-family: 'Bienchen', cursive;
    font-size: 1.8em;
    margin-bottom: 30px;
    text-align: left;
    text-indent: 30px;
}

div#imagem1{
    height: 300px;
    background-image: url('imagens/background001.jpg');
    background-size: 100%;
    margin: 30px 0px;
}

div#imagem2{
    height: 300px;
    background-image: url('imagens/background002.jpg');
    background-size: 100%;
    margin: 30px 0px;
}

div section.paragrafo-div{
    background-color: rgba(0, 0, 0, 0.411);
    padding-top: 50px;
    width: 350px;
    height: 250px;
    color: white;
    font-family: 'Bienchen', cursive;
    font-size: 1.8em;
    text-align: left;
    text-indent: 30px;
}